{
  "presets": ["minify"],
  "plugins": [
    "transform-inline-environment-variables",
    [
      "@babel/plugin-transform-react-jsx",
      {
        pragma: 'h',
        pragmaFrag: 'Fragment',
      }
    ]
  ]
}
